<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/lightbox.min.css">
    <title>Web Gallery</title>
    <style>
        .body {
            font-family: 'Poppins', sans-serif;
            height: 100vh;
            width: 100%;
            margin-bottom: 128px;
        }

        nav {
            background: #333;
            padding: 12px;
            position: fixed;
            display: flex;
            justify-content: space-between;
            width: 100%;
            bottom: 0;
            left: 0;
        }

        .toast-container {
            position: fixed;
            right: 10px;
            top: 10px;
        }

        .col-lg-6 {
            margin-top: 15rem;
        }
        .content{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    </style>
</head>

<body>
    <div class="container">
        <section>
            <div class="header">
                <h1>Web Gallery</h1>
                <hr>
            </div>
            <div class="galery">
                <div class="row">
                    <% found.forEach(function(image) { %>
                        <div class="col-lg-3 col-md-6  my-1">
                            <a href="<%= image.url %> " data-lightbox="example-1">
                                <img class="img-fluid"
                                    src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>"
                                    alt="image-1" />
                            </a>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title h4" id="deleteModalLabel">Select items to delete</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <% found.forEach(function(image) { %>
                                <div class="my-1 d-flex">
                                    <div class="img">
                                        <img class="img-fluid" style="height: 64px;" src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>" alt="image-1" />
                                    </div>
                                    <div class="content">
                                        <p style="white-space: nowrap; margin-left: 10px;"><%= image.url %></p>
                                        <a href="/delete/<%=image._id %>" style="width: fit-content;"
                                            class="btn bg-danger text-white bi-trash2-fill">
                                        </a>
                                    </div>
                                </div><hr>
                            <% }) %>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </section>
        <nav class="shadow">
            <form action="/upload" enctype="multipart/form-data" method="post">
                <div class="input-group">
                    <input type="file" class="form-control" name="photo" accept="image/*">
                    <input type="submit" class="btn btn-primary" value="Upload"></input>
                </div>
            </form>
            <div class="btn-group" role="group">
                <button class="btn btn-success" disabled>Download</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
            </div>
        </nav>
    </div>
    <div class="toast-container">
        <% if (message && message.length> 0) { %>
            <div class="toast fade show " role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto text-success">Message</strong>
                    <small>
                        <%= message.length %>
                    </small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    <%= message %>
                </div>
            </div>
            <% } if(errors && errors.length>0) {%>
                <div class="toast fade show " role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto text-warning">Error</strong>
                        <small>
                            <%= erros.length %>
                        </small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        <%= errors %>
                    </div>
                </div>
                <% } %>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script>
        //from imput value control
        $(document).ready(function () {
            $('input:submit').attr('disabled', true);
            $('input:file').change(function () {
                if ($(this).val()) {
                    $('input:submit').removeAttr('disabled');
                }
                else {
                    $('input:submit').attr('disabled', true);
                }
            });
        });
        //function that automatically turns off notifications
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".toast").alert('close');
            }, 4000);
        });
    </script>
</body>

</html>